<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
        <app-left-menu></app-left-menu>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-top-bar></app-top-bar>
        <!-- main content -->
        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>
